body{
    margin:0;
    padding:0;
}
.wrapper{
    text-align: center;
    background-color: #7A956B;
    padding-top:25px;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    flex-direction: column;
}
.hidden{
    display:none;
}
.weather{
    margin-top:25px;
    background-color: #7A956B;
    border-radius: 10px;
    padding:20px;
    max-width: 450px;
    margin:0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.weather-loading{
    display: flex;
    justify-content: center;
    align-items: center;
}


.weather-loading img{
    max-width: 50px;
}


.weather-main{
    flex: 1 1 auto;
}

.weather-city{
    font-size:40px;
    font-weight: 700;
    margin-bottom:15px;    
}


.weather-status{
    font-size: 20px;
    margin-bottom:20px;
}
.weather-temp{
    font-size:30px;
    font-weight: 700;
    margin-bottom:10px;
}
.weather-temp::after,
.weather-feels-like-temp::after{
    display: inline-block;
    margin-left: 5px;
    content: "°C";
}
input{
    text-align: center;
}
.get-weather{
    padding: 10px 15px;
    background: #0D4166;
    color: white;
    margin:15px 0;
}
#city{
    padding:10px 20px;
}